GCP_PROJECT="<Your project name>"

# A key to a GCP service account with role 'Project Editor' to be used by gcloud-local
# Path needs to be relative and inside the same directory as this file
GCLOUD_KEY="secrets/gcloud.json"