$border-radius: 4px;
$border-radius-round: 999px;

$spacing-smallest: 4px;
$spacing-smaller: 8px;
$spacing-small: 16px;
$spacing-normal: 24px;
$spacing-large: 32px;
$spacing-huge: 62px;

$spacing-button: 12px;

$icon-size: 24px;
